.footer {
    position: relative;
    z-index: 1;
}

.footer-grain {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    clip-path: inset(0);
    background-image: url('../../assets/global-assets/noise-3.png');
    filter: url('../../assets/global-assets/noise.svg#noise-filter') opacity(0.5) grayscale(100%);
}

.footer-container {
    position: relative;
    z-index: 2;
}

.social-links {
    font-size: 1.5rem;
}