@import "tailwindcss";

@theme {
  /* Colors */
  --color-white: #FFFFFF;
  --color-beige: #E5E5DE;
  --color-black: #25242F;
  --color-red: #E91A14;
  --color-blue: #3639FB;

  /* Fonts */
  --font-title: "Anton SC", sans-serif;
  --font-body: "Source Sans 3", sans-serif;
  --font-cjk: "Noto Sans SC", sans-serif;

  /* Type scale */
  --text-h1: 4.209rem;
  --text-h2: 3.157rem;
  --text-h3: 2.369rem;
  --text-h4: 1.777rem;
  --text-h5: 1.333rem;
  --text-h6: 1.1rem;

  /* Letter spacing */
  --tracking-primary: 0.2em;    /* h1 */
  --tracking-secondary: 0.1em;  /* h2 */
  --tracking-major: 0em;        /* h3–h6 */
  --tracking-numbers:3em;     /* animated numbers */
}

html {
  scrollbar-gutter: stable;
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar { display: none; } /* Chrome/Safari */

